.borderTable {
	border-collapse: collapse;
	border: 1px solid black;
}

.borderTable tr, th, td {
	border: 1px solid black;
}

.borderTable th {
	padding: 4px;
	font-size: 25px;
}

.borderTable  td {
	padding: 4px;
	font-size: 20px;
	text-align: right;
}


body, table, tr, td, div, span {
	font-family: arial;
	font-size: 12px;
	cursor: default;
}

table, th, tr, td {
	text-align: center;
}

canvas {
	border-radius: 5px;
	border: 1px solid black;
}

#deployWrapper {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5 5 5 5;
	width: 300px;
	height: 300px;
	background: white;
	z-index: 10;
}
#deployWrapper.disabled  {
	display: none;
}

#deployTable {
	margin: auto;
	width: 300px;
	border-collapse: collapse;
	border: 1px solid black;
}

#deployTable th, #deployTable td {
	border: 1px solid black
}

#deployTable .selected {
	background-color: lightBlue;
}

#reinforceTable {
	margin: auto;
	margin-top: 80px;
	width: 300px;
	border-collapse: collapse;
	border: 1px solid black;
}

#reinforceTable th, #reinforceTable td {
	border: 1px solid black
}

#reinforceTable .selected {
	background-color: lightBlue;
}

#confirmFleet {
	font-size: 22px;
	background-color: blue;
	color: white;
}

#shipsBoughtTable {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 0;
	border-collapse: collapse;
	border: 1px solid black;
}

#shipsBoughtTable tr.selected {
	background-color: lightBlue;
}

#factionDiv {
	width: 700px;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 0;
}

.factionUpperTable {
	width: 500px;
	margin: auto;
	border-collapse: collapse;
	border: 1px solid black;
}

.factionUpperTable td.selected {
	background-color: lightBlue;
}

.factionShipclassTable {
	width: 500px;
	display: inline-block;
	border-collapse: collapse;
	border: 1px solid black;
}
.factionShipclassTable tr {
}

.factionShipclassTable td {
	text-align: center;
}

.shipPreview {
	display: inline-block;
	vertical-align: top;
	width: auto;
	border-radius: 5px;
}

.highlight {
	background-color: black;
	color: white;
}

.fontHighlight {
	background-color: red;
	color: white;
}

.lobbyDiv {
	padding: 5px;
	text-align: center;
	margin: auto;
	margin-top: 20px;
}

.lobbyDiv table {
	border-collapse: collapse;
}

.lobbyDiv td {
	border-collapse: collapse;
	border: 1px solid black;
}

.gui {
	display: inline-block;
	border: 1px solid black;
	position: absolute;
}

.gameSetupStatus {
	margin: 0 0 0 0;
	border-collapse: collapse;
	border: 1px solid black;
	width: 300px;
}

.gameSetupStatus td {
	border: 1px solid black;
}

#game {
	display: flex;
}
#game.disabled {
	display: none;
}

#canvasDiv {
	width: 1200px;
	height: 800px;
}

#canvas {
	display: inline-block;
	position: absolute;
	border: 1px solid black;
	z-index: 1;
}

#fxCanvas {
	display: inline-block;
	position: absolute;
	border: 1px solid black;
	z-index: 2;
}

#planCanvas {
	display: inline-block;
	position: absolute;
	border: 1px solid black;
	z-index: 3;
}

#moveCanvas {
	display: inline-block;
	position: absolute;
	border: 1px solid black;
	z-index: 4;
}

#mouseCanvas {
	display: inline-block;
	position: absolute;
	border: 1px solid black;
	z-index: 5;
}

.iconDiv {
	position: absolute;
}

.rotate270 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}

.structDiv {
	display: inline-block;
	padding: 3px;
	position: absolute;
	color: white;
	border: 1px solid black;
}

.structContainer {
	display: inline-block;
	width: 400px;
	height: 400px;
	position: relative;
	color: white;
	margin: auto;
}

.structTable {
	width: 120px;
}

.structTable td {
	position: relative;
}

.structTable td, .structTable th {
	border: 1px solid black;
}

.struct {
	height: 20px;
	font-size: 16px;
}

.integrityAmount {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	font-size: 16px;
	color: white;
	margin: auto;
}

.integrityFull {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: red;
	z-index: -1;
	width: 100%;
}

.integrityNow {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: green;
}

.loadLevel {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: lightBlue;
	z-index: -1;
}

.weapon {
	color: black;
}

.weapon.selected {
	box-shadow: inset 0 0 6px blue;
}

.weapon.fireOrder {
	box-shadow: inset 0 0 6px red;
}

.shipDiv {
	position: absolute;
	border: 1px solid black;
	border-radius: 5px;
	z-index: 10;
	background-color: white;
	padding: 10px;
}

.shipDiv .general {
	margin: auto;
	width: 220px;
	border: 1px solid black;
	border-radius: 3px;
	border-collapse: collapse;
}

.shipDiv .structure {
	width: 140px;
	border: 1px solid black;
	border-radius: 3px;
}

.shipDiv th, td {
	margin: auto;
	text-align: center;
}

.shortInfo {
	z-index: 5;
	display: inline-block;
	position: absolute;
	color: white;
	background-color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
}

#phaseSwitchInnerDiv {
	display: inline-block;
	position: relative;
	width: 600px;
	height: 200px;
	z-index: 20;
	border: 2px solid blue;
	background: white;
	color: black;
	margin-top: 300px;
	margin-left: 300px;
	border-radius: 5px;
}

#phaseSwitchInnerDiv div {
	width: 200px;
	font-size: 30px;
	text-align: center;
	margin: auto;
}
#phaseSwitchDiv {
	position: absolute;
	z-index: 20;
	border: 1px solid black;
	background: white;
	color: black;
}

#systemDetailsDiv {
	z-index: 15;
	display: inline-block;
	position: absolute;
	background: white;
	color: black;
}
#systemDetailsDiv table {
	width: 180px;
	border-collapse: collapse;
}

#systemDetailsDiv td {
	border: 1px solid black;
}

#upperGUI {
	display: inline-block;
	position: absolute;
	z-index: 8;
	border: 1px solid black;
	width: 300px;
}

#overview {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 10px;
}

#overview th {
	border: 1px solid black;
}

#overview td {
	border: 1px solid black;
}

#combatlogWrapper {
	display: inline-block;
	position: absolute;
	top: 80px;
	width: 300px;
	z-index: 8;
	padding: 5px;
}

#combatLog {
	width: 95%;
	border: 1px solid black;
	border-radius: 5px;
	background: white;
	color: black;
	margin: auto;
}

.friendly {
	background-color: green;
}
.hostile {
	background-color: red;
}

.red {
	color: red;
}

.disabled {
	display: none;
}

#weaponAimTableWrapper {
	background-color: black;
	color: white;
	opacity: 0.8;
	border: 2px solid white;
	border-radius: 5px;
	z-index: 10;
	padding: 5 5 5 5;
	position: absolute;
	text-align: center;
}
#weaponAimTableWrapper.disabled {
	display: none;
}

#weaponAimTable {
	background-color: black;
	color: white;
	opacity: 0.8;
	border: 2px solid white;
	z-index: 10;
	margin: auto;
}

.weaponAimHeader {
	color: red;
	font-size: 18px;
}

#weaponAimTable tr td {
	border-collapse: collapse;
	border: 1px solid white;
}

#reinforce.selected {
	background-color: lightBlue;
}
	
#deployOverlay {
	background-color: black;
	color: white;
	opacity: 0.8;
	border: 2px solid white;
	border-collapse: collapse;
	border-radius: 5px;
	z-index: 10;
	position: absolute;
	text-align: center;
}

.shipAvailable {
	background-color: lightGreen;
}

.shipUnavailable {
	background-color: Red;
}

#vectorDiv {
	display: inline;
	position: absolute;
	border: 1px solid white;
	border-radius: 5px;
	background-color: black;
	color: white;
	padding: 5px;
}
#vectorDiv.disabled {
	display: none;
}