body {
	margin: 0 0 0 0;
}

body, table, tr, td, div, span {
	font-family: arial;
	font-size: 12px;
	cursor: default;
}

table, th, tr, td {
	text-align: center;
}

.hinter {
	font-size: 50px;
	color: red;
}

.cache {
	position: absolute;
	z-index: 20;
	width: 100px;
	height: 100px;
	background-color: white;
}

#popupWrapper {
	display: none;
	position: absolute;
	background-color: black;
	border-radius: 5px;
	border: 5px solid red;
	padding: 20px;
	z-index: 20;
}

.popupHeader {
	margin-top: 25px;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-size: 20px;
}

.popupSingle {
	font-size: 20px;
	text-align: center;
	color: white;
}

.popupEntry {
	display: block;
	margin: auto;
	width: 40% !important;
	margin-top: 10px !important;
	margin-bottom: 4px !important;
}

#instructWrapper {
	display: none;
	position: absolute;
	background-color: black;
	border-radius: 5px;
	border: 5px solid #27e627;
	padding: 10px;
	z-index: 20;
}

#nameWrapper { 
	border: 1px solid white;
	margin: auto;
}

#nameWrapper table {
	width: 80%;
	margin: auto;
}

#nameWrapper td {
	font-size: 20px;
}

.name {
	padding: 10px;
}

#instructText {
	margin: auto;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-size: 20px;
}

.img15 {
	width: 15px;
	height: 15px;
}

.img30 {
	width: 30px;
	height: 30px;
}

.img40 {
	width: 40px;
	height: 40px;
}

.img50 {
	width: 50px;
	height: 50px;
}

.img60 {
	width: 60px;
	height: 60px;
}

.img80 {
	width: 80px;
	height: 80px;
}

.img80pct {
	width: 80%;
	height: 80%;
}

.img100pct {
	width: 100%;
	height: 100%;
}

.fullBorderTable {
	border-collapse: collapse;
	border: 1px solid white;
}

.unitTest {
	border: 1px solid white;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
}

.unitTest td {
	font-size: 15px;
}

.unitTest th {
	font-size: 15px;
	color: red;
}

.fullBorderTable th {
	border: 1px solid white;
	padding: 4px;
	font-size: 25px;
}

.fullBorderTable td {
	border: 1px solid white;
	padding: 4px;
	font-size: 20px;
	text-align: right;
}

#leftUnitWrapper {
	position: absolute;
	display: inline-block;
	border: 1px solid white;
	border-radius: 5px;
	padding: 3px;
	z-index: 6;
	background-color: black;
	top: 170px;
	width: 200px;
}

#leftUnitWrapper thead th {
	font-size: 16px;
}

#leftUnitWrapper.disabled  {
	display: none;
}

#deployTable {
	margin: auto;
	border-collapse: collapse;
	width: 100%;
}

#deployTable tr {	
	background-color: black;
}

#deployTable tr.selected {
	box-shadow: inset 0 0 0.5em 0.5em #27e627;
}

#deployTarget {
	font-size: 16px;
	color: #ff3d00;
}

#reinforce:hover {
	background-color: white;
	color: black;
}

.reinforceHead {
	width: 95%;
}

.reinforceBodyWrapper {
	max-height: 434px;
	overflow: auto;
}

#reinforceBody {
	border-collapse: collapse;
}

#reinforceBody tr {	
	background-color: black;
}

#reinforceBody th, #reinforceBody td {
	border: 1px solid white
}

.requestReinforcements.selected {
	box-shadow: inset 0 0 0.5em 0.5em #27e627;
}

.reinforce:hover {
	background-color: lightGreen;
	font-color: black;
}

.header {
	width: 90%;
	margin: auto;
	font-size: 14px;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}

 td.morale {
	height: 10px;
	position: relative;
}

.shipDiv .moraleFull {
	position: absolute;
	z-index: 2;
	background-color: red;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.shipDiv .moraleNow {
	position: absolute;
	z-index: 3;
	background-color: green;
	height: 100%;
	top: 0;
	left: 0;
}

.shipDiv .moraleTrigger {
	position: absolute;
	z-index: 4;
	height: 100%;
	top: 0;
	left: 0;
	border-right: 2px solid #ffeb3e;
}

.link {
	border: 1px solid white;
	font-size: 20px;
	text-align: center;
	background: black;
	color: white;
	display: inline-block;
	position: relative;
	padding: 3px;
}

.link:hover {
	border: 1px solid black;
	background: white;
	color: black;
	cursor: pointer;
}

#createGame {
	text-align: center;
	background: black;
	color: white;
	width: 450px;
	margin: auto;
}

#createGameMenu {
	width: 500px;
}

#createGameMenu td{
	padding: 1px;
}

#launchRate, #capacity, #reload {
	color: yellow;
}

#hangarDiv, #weaponDiv, #crewDiv {
	position: absolute;
	border: 2px solid #ffeb3e;
	background-color: black;
	z-index: 15;
	border-radius: 5px;
	padding: 5px;
}

#hangarDiv {
	width: 450px;
}

#crewDiv {
	width: 500px;
 }
 #weaponDiv {
	width: 600px;
 }

#hangarDiv .header, #weaponDiv .header, #crewDiv .header {
	padding: 5px;
	width: 90%;
	margin: auto;
}

#hangarDiv .header, #hangarDiv .header span, #weaponDiv .header, #weaponDiv .header span, #crewDiv .header, #crewDiv .header span {
	font-size: 18px;
}

#hangarTable, #weaponTable, #crewTable {
	width: 100%;
	margin: auto;
	border-collapse: collapse;
	border: 1px solid white;
	background-color: black;
	font-size: 14px;
}

#hangarTable tr, #weaponTable tr, #crewTable tr {
	border: 1px solid white;
}

#hangarTable td, #weaponTable td, #crewTable td {
	font-size: 16px;
	padding: 5px;
}

#missionAdjustDiv {
	position: absolute;
	width: 300px;
	border: 2px solid #ffeb3e;
	background-color: black;
	z-index: 15;
	border-radius: 5px;
}

#missionAdjustDiv table {
	width: 100%;
	margin: auto;
}

.missionOption span {
	font-size: 16px;
}

#missionType table {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#missionType tr {
	border: 1px solid white;
}

#missionType th, #missionType td {
	font-size: 18px;
}

#missionType td {
	font-size: 14px;
}

#reinforceFaction {
	font-size: 20px;
}

#shipsBoughtTable {
	width: 400px;
	margin: 0 0 0 0;
	border-collapse: collapse;
}

#shipsBoughtTable th, #shipsBoughtTable th span {
	font-size: 16px;
} 

#shipsBoughtTable td, #shipsBoughtTable td span {
	font-size: 14px;
}

#shipsBoughtTable td.icon {
	width: 26px;
}

#shipsBoughtTable td.hover {
	background-color: white;
}

#shipsBoughtTable tr.purchase {
	border-bottom: 1px solid white;
}

#shipsBoughtTable tr.purchase.selected {
	color: yellow;
}

#factionDiv {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 0;
}

#focusGain {
	padding-top: 10px;
}

#factionDiv tr, th, td {
	border: none;
}

.factionUpperTable {
	width: 405px;
	margin: auto;
	border-collapse: collapse;
	border: 1px solid white;
	border-radius: 5px;
}
.factionUpperTable tr {
	border: 1px solid white;
}

.factionUpperTable td {
	text-align: center;
}

.factionUpperTable td.selected {
	background-color: lightBlue;
}

.factionSubTable {
	margin: auto;
	border-collapse: collapse;
}
.factionSubTable tr {
}

.factionSubTable th {
	font-size: 16px;
	text-align: center;
}
.factionSubTable td {
	text-align: center;
}

.highlight {
	background-color: white;
	color: black;
}

.rowHighlight {
	border: 3px solid #ffeb3e;
}

.lobbyDiv {
	text-align: center;
	margin: auto;
	margin-top: 30px;
	width: 700px;
}

.lobbDiv a {
	font-size: 16px;
}

.lobbyDiv table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
	margin: auto;
}

.lobbyDiv td {
	font-size: 16px;
	border-collapse: collapse;
	border: 1px solid white;
	padding: 7px;
}
.lobbyDiv th {
	font-size: 20px;
	border-collapse: collapse;
	border: 1px solid white;
	padding: 5px;
}

.gui {
	display: inline-block;
	border: 1px solid white;
	position: absolute;
}

.gameSetupStatus {
	margin: 0 0 0 0;
	border-collapse: collapse;
	border: 1px solid white;
	width: 405px;
	border-radius: 5px;
}

.gameSetupStatus td {
	font-size: 16px;
}

.buttonSelection {
	font-size: 22px;
	background-color: blue;
	color: white;
	cursor: pointer;
}

.buttonSelection:hover {
	color: red;
}

.buyCommand td {
	color: red;
}

#game {
	position: absolute;
	top: 0px;
	left: 0px;
}
#game.disabled {
	display: none;
}

#game.setup {
	position: relative;
	top: 0px;
	left: 0px;
}

#canvas {
	display: inline-block;
	position: absolute;
	background-image: url("varIcons/space.jpg");
}

#drawCanvas {
	display: none;
}

#shipCanvas {
	display: inline-block;
	position: absolute;
}

#fxCanvas {
	display: inline-block;
	position: absolute;
	opacity: 0.25;
}
#fxCanvas.disabled {
	display: none;
}

#planCanvas {
	display: inline-block;
	position: absolute;
}

#moveCanvas {
	display: inline-block;
}

#salvoCanvas {
	display: inline-block;
	position: absolute;
}

#mouseCanvas {
	display: inline-block;
	position: absolute;
}

.iconDiv {
	position: absolute;
	z-index: 5;
}

.rotate270 {
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
}
.size20 {
	height: 20px;
	width: 20px;
}

.size30 {
	width: 30px;
	height: 30px;
	margin: auto;
}

.size35 {
	width: 35px;
	height: 35px;
	margin: auto;
}

.size40 {
	width: 40px;
	height: 40px;
	margin: auto;
}

.size50 {
	width: 50px;
	height: 50px;
	margin: auto;
}

.size45 {
	width: 45px;
	height: 45px;
	margin: auto;
}

.size60 {
	width: 60px;
	height: 60px;
	margin: auto;
}

.size70 {
	width: 60px;
	height: 60px;
	margin: auto;
	margin-top: -5px;
}

.size90 {
	width: 90px;
	height: 90px;
}

.size100 {
	width: 100px;
	height: 100px;
	margin: auto;
}

.size120 {
	width: 120px;
	height: 120px;
	margin: auto;
}

.size100pct {
	width: 100%;
	height: 100%;
	margin: auto;
}

.font12 {
	font-size: 12px;
}

.font14 {
	font-size: 14px;
}

.font15 {
	font-size: 15px;
}

.font16 {
	font-size: 16px;
}

.font18 {
	font-size: 18px;
}

.font20 {
	font-size: 20px;
}

.unitContainer {
	position: absolute;
	width: 160px;
	height: 160px;
	border: 1px solid white;
}

.unitContainer.borderHighlight {
    box-shadow: inset 0 0 0px 3px #ffeb3e;
}

.system.borderHighlight {
    box-shadow: inset 0 0 0px 3px #ffeb3e;
}

.unitContainer .boostDiv img, .unitContainer .powerDiv img, .unitContainer .modeDiv img {
	color: black;
	width: 100%;
	height: 100%;
}

.unitContainer .primaryDiv {
	width: 80px;
	height: 80px;
	border: none;
}

.squad .outputMask {
	margin: auto;
	width: 100%;
	font-size: 14px;
	color: white;
	text-align: center;
	vertical-align: middle;
	display: block;
}

.squad .outputMask.top {
	top: -50px;
	width: 100%;
	font-size: 14px;
	color: white;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.unitContainer .primaryDiv .primaryTable {
	width: 100%;
}

.unitContainer .primaryTable .struct {
	height: 25px;
}

.unitContainer .boostDiv {
	z-index: 15;
	position: absolute;
	left: -21px;
	top: -5px;
}

.unitContainer .powerDiv {
	z-index: 15;
	position: absolute;
	left: 21px;
	top: -5px;
}

.unitContainer .modeDiv {
	z-index: 15;
	position: absolute;
	left: 2px;
	top: 22px;
}

.unitContainer .plus, .unitContainer .minus, .unitContainer .power, .unitContainer .unpower, .unitContainer .mode {
	display: block;
	background-color: black;
	border: 1px solid red;
	width: 18px;
	height: 18px;
}

.structContainer {
	height: 400px;
	position: relative;
	color: white;
	margin: auto;
	border: 1px solid white;
}

.structContainer.squad {
	width: 390px;
}

.focusContainer, .commandContainer, .missionContainer {
	position: relative;
	color: white;
	margin: auto;
	margin-top: 5px;
	border: 1px solid white;
	padding: 3px;
}

.focusEntry, .commandEntry, .missionEntry {
	margin: auto;
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #ffeb3e;
	background-color: black;
}

.structDiv, .primaryDiv {
	display: inline-block;
	position: absolute;
	color: black;
	border: 1px solid white;
}



.ccContainer {
	width: 99%;
	margin: auto;
	margin-top: 10px;
	display: inline-block;
	color: black;
	border: 1px solid white;
}

.attachDiv {
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid white;
}

.attachDiv div {
	display: inline-block;
}

div.system {
	width: 24px;
	height: 24px;
	display: inline-block;
	border: 1px solid white;
	position: absolute;
}

.center15, .center15 div {
	font-size: 15;
	text-align: center;
}

.structTable td {
	position: relative;
}

.structTable td, .structTable th, .primaryTable td, .primaryTable th {

}

.structTable td.emptySystem {
	border: none;
}

.primaryTable {
	margin: auto;
}

.primaryTable td {
	position: relative;
}

.primaryTable.system {
	background-color: lightBlue;
}

.primaryTable .struct {
	height: 35px;
}

.primaryTable .armour {
	height: 25px;
}

.struct div.integrityNow, .armour div.integrityNow  {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-color: rgb(109, 118, 162);
	height: 100%;
}

.system.integrityNow {
	background-color: #607D8B;
}

.primaryTable .system div.integrityNow {
	top: 33px;
}

.primaryTable .system div.integrityFull {
	top: 33px;
}

.primaryTable .system div.outputMask {
	top: 13px;
}

.primaryTable .struct .integrityNow, .integrityNow {
	background-color: green;
}

.system .integrityNow {
	border-top: 1px solid black;
}

div.integrityAmount {
	position: absolute;
	z-index: 2;
	color: white;
	margin: auto;
	width: 100%;
	height: 100%;
}

.armour div.integrityAmount {
	top: 0;
}
.armour div.integrityAmount span {
	font-size: 16px;
}

.struct div.integrityAmount {
	top: 4;
}

.unitContainer .struct div.integrityAmount {
	top: 0;
}

div.integrityFull {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: red;
	z-index: 0;
	width: 100%;
	top: 0;
}

.system div.integrityFull {
	top: 20;
}

.integrityNow {
	position: absolute;
	left: 0;
	top: 20;
	bottom: 0;
	z-index: 1;
}

.loadLevel {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: rgb(0, 149, 255);
	z-index: -1;
}

.bgloadLevel {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: white;
	z-index: -2;
	width: 100%;
}

.structDiv .outputMask, .primaryDiv .outputMask {
	margin: auto;
	position: absolute;
	top: 5px;
	width: 100%;
	font-size: 14px;
    color: white;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.structDiv .outputMask {
	font-size: 11px;
    top: -2px;
    left: 2px;
    width: 100%;
    height: 10px;
    text-align: left;
}

.exposed {
	background-color: rgb(255, 177, 0);
}

.system {
	color: black;
}

.primaryTable .system img {
	color: black;
	width: 40px;
	height: 40px;
}

.notesHeader {
	border-top: 1px solid red;
}

.notesEntry {
	padding: 2px;
}

.system img {
	color: black;
	width: 24px;
	height: 24px;
}

.system.fighter img {
	color: black;
	width: 18px;
	height: 18px;
}

.struct, .armour {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}

.structTable .boostDiv img, .structTable .powerDiv img, .structTable .modeDiv img {
	width: 100%;
	height: 100%;
}

.primaryTable .boostDiv img, .primaryTable .powerDiv img, .primaryTable .modeDiv img {
	width: 100%;
	height: 100%;
}

.emptySystem {
	color: black;
	height: 16px;
	width: 16px;
}

.system.fighter {
	position: relative;
	color: black;
}

.system.destroyed {
	background-color: red;
}

.system.unpowered {
	background-color: grey;
}

.system.selecteda {
    background-color: #ffeb3e;
}

.system.selected {
    box-shadow: inset 0 0 0px 3px #ffeb3e;
}

.system.fireOrder {
    box-shadow: inset 0 0 0px 3px red;
}

.missionOption {
	width: 250px;
	margin: auto;
}

.yellow {
	color:  #ffeb3e;
}

.system.hasCritical {
	color: red;
}

.system.hasCritical.destroyed {
	background-color: red;
	color: black;
}
.system.hasCritical.disabled {
	background-color: blue;
	color: black;
}

.impact {
	background-color: blue;
}

.ammoImpact {
	position: absolute;
}

.ammoOverlay {
	position: absolute;
	height: 40px;
	width: 40px;
}

.singleDiv {
	position: relative;
    color: black;
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-block;
    margin: 4px;
    margin-left: 5px;
    margin-bottom: 12px;
    margin-top: 25px;
}

.singleDiv .system {
	width: 20px;
	height: 20px;
	top: -22px;
	left: 15px;
}

.singleDiv .system img{
	width: 100%;
	height: 100%;
}

.singleDiv .overlay {
    position: absolute;
    z-index: 10;
    height: 40px;
    width: 40px;
    left: 5px;
}
.squad .overlay {
    position: relative;
    z-index: 10;
    height: 40%;
    width: 40%;
    top: 95px;
    left: 30%;
}

.selectionHighlight {
	color: red;
}

.iconIntegrity {
	position: relative;
	height: 20px;
	border: 1px solid white;
	border-collapse: collapse;
}

.shipDiv  {
	position: absolute;
	border: 1px solid white;
	border-radius: 5px;
	z-index: 10;
	background-color: black;
}

.shipDiv.disabled {
	display: none;
}

.shipDiv.red {
	background-color: red;
}

.shipDiv.selection, .ammoDiv.selection {
	border: 4px solid #ffeb3e;
}

.shipdiv .mainDiv {
	display: inline-block;
	height: 200px;
	width: 100%;
	margin: auto;
}

.shipDiv .general {
	width: 100%;
	color: white;
	border-collapse: collapse;
	text-align: center;
}

.shipDiv .flightTable {
	width: 100%;
	color: white;
	border-collapse: collapse;
	text-align: center;
	margin: top: 10px;
}

.topDiv {
	display: inline-flex;
	width: 100%;
}

.topDiv table {
	width: 100%;
}

.squad .topDiv .modeDiv {
	display: inline-block;
	position: relative;
	top: -20px;
	left: 4px;
}

.shipDiv .header {
	display: inline-block;
	width: 205px;
	margin: auto;
	padding: 0 0 0 0;
	border: 1px solid white;
}

.shipDiv .coreContainer {
	display: inline-block;
	width: 100px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.shipDiv .notes {
	display: inline-block;
	position: relative;
	margin-top: 5px;
	width: 100%;
	text-align: center;
	color: #ffeb3e;
}

.shipDiv.squad .notes {
}

.shipDiv .iconContainer {
	width: 80px;
	border: 1px solid white;
}

.coreContainer  .system {
	width: 30px;
	height: 30px;
}

.optionsWrapper {
	width: 76px;
	position: absolute;
	padding: 5px;
	z-index: 8;
	border: 1px solid white;
	border-radius: 5px;
	background-color: black;
}

.options {
	display: inline-block;
	padding: 3px;
}

.options img {
	width: 30px;
	height: 30px;
}
.options.selected {
	box-shadow: inset 0 0 0.25em 0.25em yellow
}

.coreContainer  .system img {
	width: 30px;
	height: 30px;
}

.coreContainer  .mode img {
	width: 20px;
	height: 20px;
}

.shipDiv .structure {
	width: 140px;
	border: 1px solid white;
	border-radius: 3px;
}

#totalShipCost {
	margin: auto;
	width: 95%;
}

#totalShipCost img {
	width: 20px;
	height: 20px;
}

#totalShipCost td {
	font-size: 16px;
}

.shipDiv th, td {
	margin: auto;
	text-align: center;
}

#phaseSwitchInnerDiv {
	padding: 20px;
	display: inline-block;
	position: relative;
	width: 600px;
	z-index: 20;
	border: 2px solid white;
	background: black;
	color: white;
	border-radius: 5px;
	display: none;
}

#phaseSwitchInnerDiv div {
	font-size: 30px;
	text-align: center;
	margin: auto;
}

#phaseSwitchDiv {
	position: absolute;
	z-index: 20;
	background: black;
	color: white;
	width: 100%;
	height: 100%;
}

#phaseSwitchDiv.disabled {
	display: none;
}

#phaseSwitchInnerDiv.disabled {
	display: none;
}

#phaseSwitchInnerDiv .hintDiv {
	width: 550px;
	height: auto;
	font-size: 15px;
	text-align: center;
	margin: auto;
	margin-top: 60px;
}

#sysDiv {
	z-index: 50;
	width: 240px;
	position: absolute;
	border: 4px solid red;
	border-collapse: collapse;
	background-color: black;
	padding: 2px;
	border-radius: 5px;
}

#sysDiv table {
	width: 100%;
	border-collapse: collapse;
}

#sysDiv th {
	font-size: 14px;
	color: #ffeb3e;
}

#sysDiv td {
	color: white;
}
#sysDiv td.negative {
	color: #ff4343;
}

tr.rowBorderTop {
	border-top: 1px solid red;
}

tr.rowBorderBottom {
	border-bottom: 1px solid red;
}

.negative {
	font-size: 14px;
}

.positive {
	color: #27e627;
	font-size: 14px;
}

.structTable .boostDiv {
	z-index: 15;
	position: absolute;
}

.shipDiv .armour .boostDiv {
	z-index: 15;
	position: absolute;
	top: -8px;
	left: -15px;
}

.shipDiv .squad .armour .boostDiv {
	z-index: 15;
	position: absolute;
	top: -12px;
	left: -15px;
}

.primaryTable .boostDiv {
	z-index: 15;
	position: absolute;
	top: 1px;
	left: -16px;
}

.plus, .minus, .power, .unpower {
	display: block;
	background-color: black;
	border: 1px solid red;
	width: 15px;
	height: 15px;
}

.primaryTable .plus, .primaryTable .minus, .primaryTable .power, .primaryTable .unpower {
	display: block;
	background-color: black;
	border: 1px solid red;
	width: 18px;
	height: 18px;
}

.primaryTable .power.disabled, .primaryTable .unpower.disabled {
	display: none;
}

.structTable .powerDiv {
	z-index: 15;
	position: absolute;
}

.primaryTable .powerDiv {
	z-index: 15;
	position: absolute;
	top: -4px;
	left: 35px;
}

.mode {
	display: block;
	background-color: black;
	border: 1px solid red;
	width: 20px;
	height: 20px;
}

.structTable .modeDiv {
	z-index: 15;
	position: absolute;
}

.primaryTable .modeDiv {
	z-index: 15;
	position: absolute;
	top: 34px;
	left: 10px;
}

#upperGUI {
	display: inline-block;
	position: absolute;
	z-index: 8;
	border: 1px solid white;
	color: white;
	width: 200px;
	background-color: black;
	padding: 3px;
	border-radius: 5px;
}

#upperGUI.disabled{
	display: none;
}

#unitSelector {
	display: inline-block;
	position: absolute;
	z-index: 8;
	border: 1px solid white;
	color: white;
	background-color: black;
	padding: 2px;
	border-radius: 5px;
	top: 0px;
	left: 245px;
}

#unitSelector.disabled {
	display: none;
}

#unitSelector div {
	display: inline-block;
	margin: 2px;
}

#unitSelector .friendly {
	border: 1px solid #27e627;
}

#unitSelector .hostile {
	border: 1px solid red;
}

#unitSelector .selected {
	background-color: #ffeb3e;
}

.borderShadow {
	box-shadow: inset 0 0 4px 3px #ffeb3e
}

#unitSelector img:hover {
	background-color: white;
}

#overview {
	border-collapse: collapse;
	width: 100%;
	color: white;
}

#overview th {
	font-size: 15px;
}

#overview td {
	padding: 3px;
}

#fleetInfo {
	position: absolute;
	top: 12px;
	left: 450px;
	border: 1px solid white;
}

input[type=text], input[type=password], input[type=number] {
	margin: auto;
	font-size: 16px;
	font-weight: bold;
	color: black;
	border-radius: 5px;
	text-align: center;
	background-color: #fffdbf;
}

input[type=button], input[type=submit] {
	width: 100%;
	margin: auto;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	color: black;
	background-color: white;
	border-color: black;
	border-radius: 5px;
}

input[type=submit] {
	margin-top: 15px;
	margin-bottom: 15px;
}

input[type=radio] {
    border: 0px;
    width: 30px;
    height: 1.35em;
}

input[type=button]:hover, input[type=submit]:hover {
	background-color: #ffeb3e;
}

input[type=button].inactive:hover, input[type=submit].inactive:hover {
	cursor: unset;
	background-color: white;
}

#factionDiv input[type=button] {
	font-size: unset;
}

.popupEntryConfirm {
	font-size: 24px !important;
	width: 220px !important;
	margin: auto !important;
	margin-top: 30px !important;
	display: block
}

.buttonTD {
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	color: black;
	background-color: lightBlue;
	border-radius: 3px;
}

.buttonTD:hover {
	background-color: #27e627;
}

#combatLogWrapper, #deployLogWrapper {
	position: absolute;
	top: 0px;
	left: 245px;
	width: 800px;	
	z-index: 8;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid white;
	background-color: black;
}

#totalRequestCost {
	font-size: 20px;
	padding: 6px;
	width: 100%;
	text-align: center;
}

#combatLogWrapper disabled, #deployLogWrapper disabled {
	display: none;
}

.combatLogheader, .deployLogHeader {
	font-size: 18px;
	width: 99%;
	text-align: center;
} 

.combatLogheader th {
}

.bold {
	font-weight: bold;
}

#combatLogInnerWrapper {
	width: 100%;
    max-height:250px;
    overflow:auto;
}

#combatLog, #deployLog {
	border-radius: 5px;
	border: 1px solid white;
	border-collapse: collapse;
	background: black;
	color: white;
	margin: auto;
	width: 100%;
}

#combatLog .selected {
	background-color: #505050;
	color: white;
	box-shadow: none;
	border: 1px solid black;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

#combatLog tr {
	height: 22px;
	border: 1px solid white;
}

#combatLog tr.selected {
}

.friendly {
	border: 2px solid #27e627;
}

.hostile {
	border: 2px solid red;
}

.red {
	color: #ff3d00;
}

.info {
	display: inline-block;
	width: 50px;
	height: 50px;
	position: absolute;
}

.squad .info {
	top: 5px;
	width: 30px;
	height: 30px;
}

.squad .coreContainer .info {
	width: 45px;
	height: 45px;
}

.jumpOut {
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;
}

.jumpOut.selected {
	box-shadow: inset 0 0 0.25em 0.25em #27e627;
}

.mainPowerIcon {
	width: 80%;
	height: 80%;
	display: block;
	margin: auto;
}

.mainPower {
	color: white;
	font-size: 16px;
	width: 100%;
	text-align: center;
}

.green {
	color: #27e627;
}

.hasOptions {
	background: #ce1dae;
}

.#ffeb3e {
	color: #ffeb3e;
}

.disabled {
	display: none;
}

#shortInfo {
	z-index: 9;
	position: absolute;
	color: white;
	background-color: black;
	border-radius: 5px;
	width: 140px;
}

#aimDiv {
	background-color: black;
	border-radius: 5px;
	border: 1px solid white;
	z-index: 30;
	padding: 2 2 2 2;
	position: absolute;
	width: 420px;
}

#aimDiv.disabled {
	display: none;
}

#weaponInfo {
	margin-top: 10px;
	position: relative;
}

#aimDiv table {
	width: 100%;
}

#aimDiv thead {
	text-align: center;
	background-color: #c9c9c9;
	color: black;
	font-size: 14px;
}

#targetInfo {
	margin-bottom: 10px;
}

#targetInfo td {
	padding: 5px;
	font-size: 14px;
}

.final div {
	display: inline;
	font-size: 18px;
}

.final div:nth-child(1) {
	width: 30%;
	float: left;
	text-align: right;
}

.final div:nth-child(2) {
	width: 40%;
	float: right;
	color: yellow;
	text-align: center;
}

#deployOverlay {
	background-color: black;
	color: white;
	width: 100px;
	border: 2px solid white;
	border-collapse: collapse;
	border-radius: 5px;
	z-index: 10;
	position: absolute;
	text-align: center;
	font-size: 14px;
	padding: 3px;
}

.shipAvailable {
	font-size: 20px;
	color: #27e627;
	box-shadow: inset 0 0 20px #27e627;
}

.shipUnavailable {
	font-size: 20px;
	color: red;
}

#vectorDiv {
	display: inline;
	position: absolute;
	border: 1px solid white;
	border-radius: 5px;
	background-color: black;
	color: white;
	padding: 3px;
	z-index: 10;
	width: 110px;
}

#vectorDiv.disabled {
	display: none;
}

#vectorDiv table {
	margin: auto;
}

#vectorDiv td {
	color: white;
}

#impulseGUI {
	border-radius: 5px;
	padding: 2px;
}

#impulseGUI table {
	width: 175px;
	border-collapse: collapse;
}

#impulseGUI tr {
	border: 1px solid black;
}

#plusImpulse, #minusImpulse {
}

.opaque {
	opacity: 0.2;
}

#turnButton {
	width: 120px;
}

#epButton {
	color: white;
	border-radius: 5px;
	width: 160px;
}


.turnEle.disabled {
	display: none;
}

#turnMode {
	color: red;
}

#turnMode.on {
	color: #27e627;
}

.ep {
	color: #27e627;
}

.ui {
	position: absolute;
	display: inline-block;
	border: 1px solid white;
	background-color: black;
	z-index: 10;
	border-radius: 5px;
}

.ui:hover {
	background-color: white;
}

.ui table:hover {
	color: black;
}

.ui.disabled {
	display: none;
}

#maxTurnVector, #maxVector, #maxCutVector {
	width: 30px;
	height: 30px;
	border-radius: 20px;
	color: white;
}

#maxTurnVector div, #maxVector div, #maxCutVector div {
	margin-left: 4px;
	margin-top: 7px;
}

#maxVector.disabled, #maxTurnVector.disabled, #maxCutVector.disabled #shortenTurn.disabled {
	display: none;
}

#maxVector:hover, #maxTurnVector:hover, #maxCutVector:hover, #doShorten:hover {
	background-color: white;
	color: black;
}

#doShorten {
	background-color: black;
	color: white;
	border-radius: 2px;
	padding: 5px;
}

#doShorten div {
	margin: auto;
}

.dogFightHeader {
	display: inline-block;
	color: red;
	font-size: 12px;
	text-align: center;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 20px;
}

.dogFightEntry {
	margin-top: 10px;
	display: inline-block;
	color: red;
	text-align: center;
	width: 100%;
}

.tri4 {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 20px 10px 0;
	border-color: transparent white transparent transparent;
}

.tri6 {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 20px;
	border-color: transparent transparent transparent white;
}

.chatWrapper {
	z-index: 10;
}

.chatWrapper textarea {
	border: 1px solid white;
	margin: auto;
	display: inherit;
	width: 100%;
}

.chatWrapper textarea:nth-child(1) {
	outline: none;
	cursor: default;
	resize: vertical;
}
.chatWrapper textarea:nth-child(2) {
	resize: none;
	text-align: center;
}

body {
	color: white;
	background-color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 1em;
    height: 1em
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #ccc
}
::-webkit-scrollbar-thumb {
    background: #eee
}

.ready {
	background-color: green;
}

.waiting {
	background-color: red;
}

#statsWrapper {
	z-index: 50;
	position: absolute;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	background-color: black;
}

.statsOverview {
	margin: auto;
	padding: 3px;
	border-radius: 5px;
	border-collapse: collapse;
	display: inline-block;
	vertical-align: top;
}

.unitStats {
	width: 320px;
	border-radius: 3px;
	margin-top: 10px;
}

.totalDmgDiv {
	text-align: center;
	margin-top: 20px;
	font-size: 22px;
}

.ammoDiv {
	position: absolute;
	border: 1px solid white;
	border-radius: 5px;
	z-index: 10;
	background-color: black;
	padding: 5px;
	width: 300px;
	border-collapse: collapse;
}

.ammoDiv th {
	font-size: 16px;
}
.ammoDiv td {
	font-size: 13px;
}

.ammoDiv .topDiv {
	width: 100%;
	height: unset;
}

.ammoDiv .topDiv .header {
	width: 100%;
	height: 100%;
	margin-top: unset;
    margin-bottom: unset;
}

.ammoDiv table {
	width: 100%;
	margin: auto;
	border: 1px solid white;
	border-collapse: collapse;;
}

.ammoDiv .structContainer {
	height: unset;
}

textarea {	
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color: black;
}

textarea.sendWrapper {
	font-family: arial;
	font-size: 16px;
	font-weight: normal;
}